<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <form id="formtimelapse">
  <div class="form-group">
    <h1 class="text-center"><%= title %></h1>
    <br/>
    <h2 class="text-left"> Bem Vindo ao <%= title %></h2>
        <br/>
        <div class="form-group col-md-3">
      <label for="camera"><h3>Selecione a Câmera</h3></label>
    <select required data-width="100%" class="selectpicker form-control" id="camera" name="camera"title="Escolha a camera">
        <option value="cam1">Câmera 1</option>
        <option value="cam2">Câmera 2</option>
    </select>
        </div>
    
  </div>
  <div class="form-group col-md-12">
      <br/>
      <button type="button" class="btn btn-primary col-md-3" onclick="takeapicture()">Loop de fotos</button>
      <br/><br/><br/>
      <button type="button" class="btn btn-info col-md-3" onclick="gerarvideo()">Gerar Video</button>
  </div>
  </form>
</body>

</html>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
  // $(document).ready(function () {
  //    <%for (var up = 0; up < 10; up++) {%>;
  //     $("camera").append(new Option("1", "1"));
  //    <%}%>
  // )};
  function takeapicture() {
    var data = $("#formtimelapse").serialize();
    console.log(data)
    $.ajax({
      url: '/takeapicture',
      type: 'POST',
      data: data,
      success: function (retorno) {
        console.log(retorno)
      }
    });
  }

  function gerarvideo() {
    var data = $("#formtimelapse").serialize();
    $.ajax({
      url: '/listar',
      type: 'POST',
      data: data,
      success: function (retorno) {
        console.log(retorno)
      }
    });
  }
</script>